.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
  font-family: "Arial", sans-serif;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px red;
  position: relative; /* Ensure it's positioned */
  z-index: 10; /* Keep it above the hearts */
}
